{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4" style="text-align: center;"><b>Welcome</b></h1>
  <p class="lead">Thanks for visiting my web page</p>
  <hr class="my-4">
  <br>
  <br>
</div>
<div class="row row-cols-1 row-cols-md-2 g-5">
  <div class="col">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2014/01/22/19/44/flower-field-250016_960_720.jpg" class="card-img-top">
      <a href="https://github.com/Blacksterhack"></a>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg" class="card-img-top" alt="hola">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_960_720.jpg" class="card-img-top" alt="hola_1">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_960_720.jpg" class="card-img-top" alt="hola_2">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<figure class="figure">
  <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" class="figure-img img-fluid rounded" alt="hola_4">
  <figcaption class="figure-caption" style="color: brown;">Beautiful in noon</figcaption>
</figure>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="/page_2">2</a></li>
    <li class="page-item"><a class="page-link" href="/page_3">3</a></li>
    <li class="page-item">
      <a class="page-link" href="/page_2">Next</a>
    </li>
  </ul>
</nav>
<br>
<br>
<br>
<footer>
  <p><b>by Bladimir Pelaez <a href="https://github.com/Blacksterhack" target="_blank">follow me on Github</b></a></p>
</footer>
{% endblock %}